<div class="hero-unit text-center">
	<h1>What is BAUS?</h1>
	<p>
		BAUS a sales tool to keep up on your leads, prospects, and clients via social media.
	</p>
	<p>
		<%= link_to "Go ahead, give it a try!", "#", class: "btn btn-large btn-primary" %>
	</p>
</div>