<div class="hero-unit text-center">
	<h2>
		MANAGE YOUR MEDIA WITH...
	</h2>
	<h1>
		Media Harbor
	</h1>

	<p>
		<%= link_to "Let's Get Started", "#", class: "btn btn-large btn-custom"  %>
>>>>>>> 045a9dc48716b5be5b187fba5428f0804ec3f252
	</p>
</div>