<div class="hero-unit text-center">
	<h3>
		Keep track of those who matter most...
	</h3>
	<h1>
		Like a BAUS
	</h1>

	<p>
		<%= link_to "Let's Get Started", "#", class: "btn btn-large btn-inverse"  %>
	</p>
</div>