<div class="hero-unit text-center">
	<h2>
		MANAGE YOUR MEDIA WITH...
	</h2>
	<h1>
		Media Harbor
	</h1>

	<p>
		<%= link_to "Let's Get Started", "#", class: "btn btn-large btn-custom"  %>
	</p>
</div>